<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ah.mail.mapper.MailInfoMapper" >
  <sql id="Base_Column_List" >
    mi.id,
    mi.mail_content as  mailContent,
    mi.is_read as isRead,
    mi.del_flag as delFlag,
    mi.file_id as fileId,
    mi.title as title,
    mi.create_date as createDate
  </sql>

  <select id="findAll" resultType="com.ah.mail.vo.MailInFoVo" parameterType="map" >
    select
    <include refid="Base_Column_List" />,
    m.send_user as sendUser,
    m.receive_user as receiveUser,
    m.id as mailId,
    DATE_FORMAT(mi.create_date,'%Y-%m-%d %H:%i:%S') AS createDateString
    from mail m
    inner join mail_info mi on m.mail_id = mi.id
    and mi.del_flag = '0' 
    where 1=1 
    <if test="receiveUser !=null and receiveUser !='' ">
    	and m.receive_user = #{receiveUser}
    </if>
    
     <if test="sendUser !=null and sendUser !='' ">
    	and m.send_user = #{sendUser}
    </if>
    
    <if test="status !=null and status !='' ">
    	and m.status = #{status}
    </if>
    
    order by mi.create_date desc
  </select>
  
  <insert id="saveMailInfo">
  	 insert into mail_info (id, mail_content,is_read,title, 
      del_flag,file_id,create_date)
    values (#{id}, #{mailContent}, #{isRead},#{title},
      #{delFlag},#{fileId}, #{createDate})
  </insert>
  
  <insert id="saveMail">
  	 insert into mail (id, mail_id,status, 
      send_user,receive_user)
    values (#{id}, #{mailId}, #{status},
      #{sendUser}, #{receiveUser})
  </insert>
  
  <update id="delMailIfo">
  	update mail_info set del_flag = '1'
  		where id =#{id}
  </update>
  
  <update id="updateStatus">
  	update mail set status = #{status} where id = #{id}
  </update>
  
  
  <update id="updateRead">
  	update mail_info set is_read = '1' where id = #{id}
  </update>
  
  <select id="detail" resultType="com.ah.mail.vo.MailInFoVo">
  	select
    <include refid="Base_Column_List" />,
    m.send_user as sendUser,
    m.receive_user as receiveUser,
    DATE_FORMAT(mi.create_date,'%Y-%m-%d %H:%i:%S') AS createDateString,
    fi.filename as fileName
    from mail m
    inner join mail_info mi on m.mail_id = mi.id
    and mi.del_flag = '0' 
    left join file_info fi on mi.file_id = fi.id and fi.del_flag = '0'
    where 1=1  and mi.id = #{id}
  </select>
  

</mapper>